.loginContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: var(--color-bg);
  padding: 20px;
}

.loginCard {
  background: var(--color-fon);
  padding: 45px 55px 55px 55px;
  border-radius: 24px;
  border: 1.5px solid var(--color-stroke);
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.08);
  width: 100%;
  max-width: 480px;
  text-align: center;
}

.loginForm {
  display: flex;
  flex-direction: column;
  gap: 20px;
}