.title {
    font-size: 24px;
    font-weight: 600;
    color: var(--color-text);
    margin-bottom: 8px;
  }
  
  .description {
    font-size: 15px;
    color: var(--color-text);
    margin-top: 0;
    margin-bottom: 30px;
    opacity: 0.8;
    line-height: 1.4;
    white-space: nowrap;
  }